/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'IBM Plex Sans', sans-serif;
}

.card {
  border: 1px solid #ccc;
  border-radius: 0;
}

.clickable:hover {
  cursor: pointer;
}

input, label {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
