<div class="form-group">
  <h4>Új kérdés hozzáadása</h4>

  <div class="form-group">
    <label for="question-text">Kérdés szövege:</label>
    <input type="text" class="form-control" id="question-text" [(ngModel)]="question.questionText">
  </div>

  <div class="form-group">
    <label for="question-type">Kérdés típusa:</label>
    <select class="form-control" id="question-type" [(ngModel)]="question.questionType">
      <option value="SIMPLE_CHOICE">Egyszerű, többszörös választásos kérdés</option>
      <option value="MULTI_CHOICE">Egyszerű, többszörös választásos kérdés</option>
      <option value="DATE">Dátum típusú kérdés</option>
      <option value="NUMBER">Szám típusú kérdés</option>
      <option value="EMAIL">Email típusú kérdés</option>
      <option value="OPEN_TEXT">Nyitott szöveges kérdés</option>
    </select>
  </div>

  <div *ngIf="question.questionType === 'NUMBER'" class="form-group">
    <label for="question-min">Minimum érték:</label>
    <input type="number" class="form-control" id="question-min" [(ngModel)]="question.min">
    <label for="question-max">Maximum érték:</label>
    <input type="number" class="form-control" id="question-max" [(ngModel)]="question.max">
  </div>


  <div *ngIf="question.questionType === 'DATE'" class="form-group">
    <label for="question-min-date">Minimum érték:</label>
    <input type="date" class="form-control" id="question-min-date" [(ngModel)]="question.minDate">
    <label for="question-max-date">Maximum érték:</label>
    <input type="date" class="form-control" id="question-max-date" [(ngModel)]="question.maxDate">
  </div>

<!--  <button class="btn btn-primary" (click)="addQuestion()">Hozzáadás</button>-->
<!--  <button class="btn btn-secondary" (click)="resetQuestion()">Mégse</button>-->
</div>
