<form class="card p-3">
  <div class="form-group">
    <input type="text" class="form-control survey-title" id="survey-name" [(ngModel)]="survey.name"
           placeholder="Kérdőív neve" name="survey-name">
  </div>
  <div class="row p-3">
     <div class="form-group col-md-5">
      <label for="multi-completion-selector">Kitölthetőség:</label>
      <select class="form-select" id="multi-completion-selector" [(ngModel)]="survey.multiCompletion" name="multi-completion">
        <option value="true">Egyszeri kitöltés</option>
        <option value="false">Többszöri kitöltés</option>
      </select>
    </div>
    <div class="form-group col-md-5">
      <label for="visibility-selector">Hozzáférési jogok:</label>
      <select class="form-select" id="visibility-selector" [(ngModel)]="survey.visibility" name="visibility">
        <option value="public">Nyilvános</option>
        <option value="invite_only">Korlátozott</option>
        <option value="private">Privát</option>
      </select>
    </div>
    <div class="form-check col-12">
      <label for="anonymous-selector">Anonim válaszadás</label>
      <input type="checkbox" class="form-check-input" id="anonymous-selector" [(ngModel)]="survey.anonymous" name="anonynous">
    </div>
  </div>
</form>

<div *ngFor="let question of survey.questions">
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">{{ question.questionText }}</h5>
      <p class="card-text">Típus: {{ question.questionType }}</p>
      <p class="card-text">Kötelező: {{ question.required ? 'igen' : 'nem' }}</p>
      <p *ngIf="question.options && question.options.length > 0">Válaszlehetőségek:</p>
      <ul *ngIf="question.options && question.options.length > 0">
        <li *ngFor="let option of question.options">{{ option.value }}</li>
      </ul>
      <p *ngIf="question.questionType === 'NUMBER'">Minimum: {{ question.min }}</p>
      <p *ngIf="question.questionType === 'NUMBER'">Maximum: {{ question.max }}</p>
      <p *ngIf="question.questionType === 'DATE'">Minimum: {{ question.minDate | date:'yyyy-MM-dd' }}</p>
      <p *ngIf="question.questionType === 'DATE'">Maximum: {{ question.maxDate | date:'yyyy-MM-dd' }}</p>
    </div>
  </div>
</div>
<!-- Új kérdés hozzáadása form -->
<!-- Kérdés hozzáadása form -->
<div class="form-group">
  <app-question-editor [question]="newQuestion"></app-question-editor>
  <button class="btn btn-primary" (click)="addQuestion()">Hozzáadás</button>
  <button class="btn btn-secondary" (click)="resetQuestion()">Mégse</button>
</div>

<button class="btn btn-primary" (click)="saveSurvey()">Mentés</button>
